@layer base {
    :root {
        --brand: #ea580c;
        --text: #f4f4f5;
        --bg: #09090b;
    }

    body {
        font-family: 'Inter', sans-serif;
        background-color: var(--bg);
        color: var(--text);
    }
}


